Você recebeu um conjunto de dados com as notas finais de alunos em uma disciplina. O objetivo é categorizar o desempenho dos alunos com base em suas notas finais, utilizando uma função personalizada aplicada com o método apply.

O DataFrame contém as seguintes colunas iniciais:

Aluno: Nome do aluno.
NotaFinal: Nota final do aluno na disciplina (de 0 a 100).

Sua tarefa é:

- Criar uma função chamada categoriza_desempenho que classifique os alunos nas seguintes categorias:

"Excelente": Para notas maiores ou iguais a 90.

"Bom": Para notas entre 70 (inclusive) e 89.

"Regular": Para notas entre 50 (inclusive) e 69.

"Insuficiente": Para notas abaixo de 50.

- Aplicar a função à coluna NotaFinal para criar uma nova coluna chamada Categoria_Desempenho.

- Exibir as colunas Aluno, NotaFinal e Categoria_Desempenho.

In [6]:
import unittest

import pandas as pd

# Dados dos alunos
data = {
    'Aluno': ['Alice', 'Bruno', 'Carla', 'Daniel', 'Eduarda', 'Felipe', 'Gabriela', 'Henrique'],
    'NotaFinal': [95, 82, 67, 45, 78, 88, 50, 30]
}

# Criando o DataFrame
df = pd.DataFrame(data)
df

      Aluno  NotaFinal
0     Alice         95
1     Bruno         82
2     Carla         67
3    Daniel         45
4   Eduarda         78
5    Felipe         88
6  Gabriela         50
7  Henrique         30

#### Objetivo:

- Criar uma função chamada categoriza_desempenho para classificar as notas conforme as faixas descritas acima.

- Aplicar a função à coluna NotaFinal usando o método apply.

- Exibir as colunas Aluno, NotaFinal e Categoria_Desempenho.

In [ ]:
# Definindo a função para categorizar o desempenho
def categorize_performance(score: int) -> str:
    """
    Categorizes the performance of a student based on their final score.
    :param score: Final score of the student.
    :return: A string indicating the performance category.
    """
    if score >= 90:
        return 'Excellent'
    elif score >= 70 and score < 90:
        return 'Good'
    elif score >= 50:
        return 'Fair'
    else:
        return 'Insufficient'

In [13]:

class TestPerformanceCategorization(unittest.TestCase):

    def test_returns_excellent_when_score_is_greater_than_ninety(self):
        self.assertEqual(categorize_performance(95), 'Excellent')

    def test_returns_excellent_when_score_is_equal_to_ninety(self):
        self.assertEqual(categorize_performance(90), 'Excellent')

    def test_returns_good_when_score_is_between_seventy_and_eighty_nine(self):
        self.assertEqual(categorize_performance(75), 'Good')

    def test_returns_good_when_score_is_equal_to_seventy(self):
        self.assertEqual(categorize_performance(70), 'Good')

    def test_returns_fair_when_score_is_between_fifty_and_sixty_nine(self):
        self.assertEqual(categorize_performance(69), 'Fair')

    def test_returns_fair_when_score_is_equal_to_fifty(self):
        self.assertEqual(categorize_performance(50), 'Fair')

    def test_returns_insufficient_when_score_is_below_fifty(self):
        self.assertEqual(categorize_performance(30), 'Insufficient')

unittest.main(argv=[''], verbosity=2, exit=False)

test_nota_when_student_is_excelent (__main__.TestCategorizaDesempenho.test_nota_when_student_is_excelent) ... ok
test_bom (__main__.TestDesempenho.test_bom) ... ok
test_excelente (__main__.TestDesempenho.test_excelente) ... ok
test_insuficiente (__main__.TestDesempenho.test_insuficiente) ... ok
test_regular (__main__.TestDesempenho.test_regular) ... ok
test_returns_excellent_when_score_is_equal_to_ninety (__main__.TestPerformanceCategorization.test_returns_excellent_when_score_is_equal_to_ninety) ... ok
test_returns_excellent_when_score_is_greater_than_ninety (__main__.TestPerformanceCategorization.test_returns_excellent_when_score_is_greater_than_ninety) ... ok
test_returns_fair_when_score_is_between_fifty_and_sixty_nine (__main__.TestPerformanceCategorization.test_returns_fair_when_score_is_between_fifty_and_sixty_nine) ... ok
test_returns_fair_when_score_is_equal_to_fifty (__main__.TestPerformanceCategorization.test_returns_fair_when_score_is_equal_to_fifty) ... ok
test_returns_good_when_score_is_between_seventy_and_eighty_nine (__main__.TestPerformanceCategorization.test_returns_good_when_score_is_between_seventy_and_eighty_nine) ... ok
test_returns_good_when_score_is_equal_to_seventy (__main__.TestPerformanceCategorization.test_returns_good_when_score_is_equal_to_seventy) ... ok
test_returns_insufficient_when_score_is_below_fifty (__main__.TestPerformanceCategorization.test_returns_insufficient_when_score_is_below_fifty) ... ok

----------------------------------------------------------------------
Ran 12 tests in 0.006s

OK

In [4]:
df['Categoria_Desempenho'] = df['NotaFinal'].apply(categoriza_desempenho)

In [5]:
df

      Aluno  NotaFinal Categoria_Desempenho
0     Alice         95            Excelente
1     Bruno         82                  Bom
2     Carla         67              Regular
3    Daniel         45         Insuficiente
4   Eduarda         78                  Bom
5    Felipe         88                  Bom
6  Gabriela         50              Regular
7  Henrique         30         Insuficiente