Você é um pesquisador em um instituto botânico e recebeu um conjunto de dados sobre plantas coletadas em diferentes regiões do país. Sua tarefa é analisar essas informações para entender a distribuição das plantas com base em suas alturas médias.

Os dados estão organizados em um DataFrame chamado df_plantas, com as seguintes colunas:

- Especie: O nome científico da planta.
- Regiao: A região onde a planta foi coletada (Norte, Sul, Leste ou Oeste).

- AlturaMedia: A altura média (em metros) da planta.

Seu objetivo é dividir o DataFrame em dois subconjuntos com base na altura média das plantas:

- Plantas baixas: Altura média menor ou igual a 15 metros.
- Plantas altas: Altura média maior que 15 metros.

Depois de dividir os dados, calcule a soma das alturas médias para cada grupo (plantas baixas e plantas altas) e exiba os resultados.

In [1]:
import pandas as pd

data = {
    'Especie': ['Mangifera indica', 'Eucalyptus globulus', 'Pinus elliottii', 'Anacardium occidentale',
                'Coffea arabica', 'Hevea brasiliensis', 'Carica papaya', 'Theobroma cacao',
                'Cocos nucifera', 'Bertholletia excelsa'],
    'Regiao': ['Norte', 'Sul', 'Leste', 'Norte', 'Sul', 'Oeste', 'Leste', 'Norte', 'Oeste', 'Norte'],
    'AlturaMedia': [15, 30, 25, 12, 3, 20, 5, 10, 18, 40]
}

df_plantas = pd.DataFrame(data)

##### Objetivo:

Divida o DataFrame em dois subconjuntos:

- Um para plantas baixas (altura média menor ou igual a 15 metros).
- Outro para plantas altas (altura média maior que 15 metros).

Para cada subconjunto, calcule a soma da coluna AlturaMedia.

In [2]:
df_plantas

                  Especie Regiao  AlturaMedia
0        Mangifera indica  Norte           15
1     Eucalyptus globulus    Sul           30
2         Pinus elliottii  Leste           25
3  Anacardium occidentale  Norte           12
4          Coffea arabica    Sul            3
5      Hevea brasiliensis  Oeste           20
6           Carica papaya  Leste            5
7         Theobroma cacao  Norte           10
8          Cocos nucifera  Oeste           18
9    Bertholletia excelsa  Norte           40

In [3]:
# Filtrando plantas

floor_plants = df_plantas.query('AlturaMedia <= 15')
tall_plants = df_plantas.query('AlturaMedia > 15')

In [4]:
# Soma de todas as plantas médias com menos ou igual a 15m

sum_floor_plants = floor_plants['AlturaMedia'].sum()

print(
  f'Grupo: Plantas Baixas\n'
  f'Soma das Alturas Médias: {sum_floor_plants}m'
)

Grupo: Plantas Baixas
Soma das Alturas Médias: 45m

In [5]:
# Soma de todas as plantas médias com mais de 15m

sum_tall_plants = tall_plants['AlturaMedia'].sum()

print(
  f'Grupo: Plantas Altas\n'
  f'Soma das Alturas Médias: {sum_tall_plants}m'
)

Grupo: Plantas Altas
Soma das Alturas Médias: 133m