## Treinando com o ChatGPT

Link do Chat: [GPT](https://chatgpt.com/c/67d24d99-78f4-8007-a5ac-585c68da7ad7)

#### 1. Carregar os dados: Carregue o arquivo CSV no seu notebook e exiba as primeiras 5 linhas da tabela para garantir que os dados foram importados corretamente.

In [41]:
# Importando a library da pandas com o alias de 'pd'

import pandas as pd

In [42]:

# Isso aqui é um dataframe porque há mais de uma linha/coluna

# Lendo o arquivo .csv dentro da pasta 'data'
read_sales_data = pd.read_csv('data/sales_data.csv')
read_sales_data

   OrderID     Product     Category  Quantity  Price        Date
0        1      Laptop  Electronics         2   1500  2025-03-10
1        2       Mouse  Electronics         5     20  2025-03-11
2        3    Keyboard  Electronics         3     50  2025-03-12
3        4     T-Shirt     Clothing         4     15  2025-03-12
4        5       Shoes     Clothing         2    100  2025-03-13
5        6        Book        Books         7     10  2025-03-13
6        7  Smartphone  Electronics         1    800  2025-03-14
7        8      Jacket     Clothing         2     70  2025-03-15
8        9    Notebook   Stationery        10      5  2025-03-15
9       10         Pen   Stationery        20      1  2025-03-16

In [43]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

# Como .head trás por padrão, as 5 primeiras apenas isso basta. 
read_sales_data.head()

   OrderID   Product     Category  Quantity  Price        Date
0        1    Laptop  Electronics         2   1500  2025-03-10
1        2     Mouse  Electronics         5     20  2025-03-11
2        3  Keyboard  Electronics         3     50  2025-03-12
3        4   T-Shirt     Clothing         4     15  2025-03-12
4        5     Shoes     Clothing         2    100  2025-03-13

#### 2. Verificar informações básicas: Exiba informações gerais sobre o DataFrame, como o número de linhas, colunas, nomes das colunas e tipos de dados.

In [44]:
# Verificando número de linhas do Dataframe

read_sales_data.count()

OrderID     10
Product     10
Category    10
Quantity    10
Price       10
Date        10
dtype: int64

In [45]:
# Verificando número de colunas do Dataframe + nome das colunas

len_columns = len(read_sales_data.columns)

print(
  f'Colunas: {read_sales_data.columns} \nQuantidade de colunas: {len_columns}'
)

Colunas: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Date'], dtype='object')
Quantidade de colunas: 6

In [46]:
# Informações mais completas de uma vez do Dataframe.

read_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   10 non-null     int64
 1   Product   10 non-null     object
 2   Category  10 non-null     object
 3   Quantity  10 non-null     int64
 4   Price     10 non-null     int64
 5   Date      10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

In [47]:
# Verificando tipos de dados do Dataframe

read_sales_data.dtypes

OrderID      int64
Product     object
Category    object
Quantity     int64
Price        int64
Date        object
dtype: object

#### 3. Filtragem por categoria: Filtre e exiba todas as vendas que pertencem à categoria 'Electronics'.

In [48]:
# Filtrando apenas um tipo de categoria baseado na coluna 'Category'

only_eletronics = read_sales_data[read_sales_data['Category'] == 'Electronics']

only_eletronics

   OrderID     Product     Category  Quantity  Price        Date
0        1      Laptop  Electronics         2   1500  2025-03-10
1        2       Mouse  Electronics         5     20  2025-03-11
2        3    Keyboard  Electronics         3     50  2025-03-12
6        7  Smartphone  Electronics         1    800  2025-03-14

#### 4. Total de vendas por categoria: Calcule o total de vendas (em quantidade) para cada categoria e exiba o resultado.

In [49]:
read_sales_data

   OrderID     Product     Category  Quantity  Price        Date
0        1      Laptop  Electronics         2   1500  2025-03-10
1        2       Mouse  Electronics         5     20  2025-03-11
2        3    Keyboard  Electronics         3     50  2025-03-12
3        4     T-Shirt     Clothing         4     15  2025-03-12
4        5       Shoes     Clothing         2    100  2025-03-13
5        6        Book        Books         7     10  2025-03-13
6        7  Smartphone  Electronics         1    800  2025-03-14
7        8      Jacket     Clothing         2     70  2025-03-15
8        9    Notebook   Stationery        10      5  2025-03-15
9       10         Pen   Stationery        20      1  2025-03-16

In [73]:
# Agrupando por categoria e somando a coluna quantidade.

quantity_category = read_sales_data.groupby('Category')[['Quantity']].sum().reset_index()
quantity_category

      Category  Quantity
0        Books         7
1     Clothing         8
2  Electronics        11
3   Stationery        30

#### 5. Vendas em uma data específica: Exiba todas as vendas que ocorreram no dia '2025-03-13'.

In [83]:
# Converte a coluna date (que antes era object) para datetime
read_sales_data['Date'] = pd.to_datetime(read_sales_data['Date'])

read_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   10 non-null     int64
 1   Product   10 non-null     object
 2   Category  10 non-null     object
 3   Quantity  10 non-null     int64
 4   Price     10 non-null     int64
 5   Date      10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 612.0+ bytes

In [84]:
# Filtra as datas do dia '2025-03-13'.

dates = read_sales_data[read_sales_data['Date'] == '2025-03-13']

dates

   OrderID Product  Category  Quantity  Price       Date
4        5   Shoes  Clothing         2    100 2025-03-13
5        6    Book     Books         7     10 2025-03-13