Você está analisando dados de vendas em uma rede de lojas de departamentos e foi encarregado(a) de responder a algumas perguntas de negócio críticas para o planejamento estratégico da empresa. A primeira questão essencial é entender o desempenho das três unidades da rede, especificamente no que se refere ao valor total de vendas para o período.

O objetivo é obter a soma do valor total das vendas por unidade para identificar qual está performando melhor em termos de geração de receita. Essa análise ajudará a liderança a tomar decisões informadas sobre possíveis investimentos, promoções e realocação de recursos.

Os dados estão disponíveis na seguinte url:

```https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv'```

Sua missão nesta atividade é carregar os dados de vendas, examinar as informações disponíveis, e aplicar o método groupby() para agrupar e sumarizar o valor total de vendas por unidade.

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv"

df = pd.read_csv(url, na_values=["Infinity", "-Infinity", "inf", "-inf", "NaN"])

df.head()

,ID_compra,unidade,cidade,data,horario,categoria_produto,valor_unitario,quantidade,valor_total,metodo_pagamento,ID_cliente,programa_cashback,idade,avaliacao_compra
0,6,Parque das nações,Santo André,2022-01-03,15:40,Eletrônicos,4457.9,4,17831.6,Dinheiro,6149,Sim,30,10
1,5,Oswaldo Cruz,São Caetano do Sul,2022-01-03,16:48,Ferramentas e construção,115.9,1,115.9,PIX,9491,Sim,36,9
2,9,Paulicéia,São Bernardo do Campo,2022-01-03,12:08,Beleza e cuidados pessoais,68.9,2,137.8,Cartão,5288,Não,39,9
3,4,Oswaldo Cruz,São Caetano do Sul,2022-01-03,9:29,Ferramentas e construção,80.9,5,404.5,PIX,9679,Sim,35,10
4,8,Parque das nações,Santo André,2022-01-03,13:02,Beleza e cuidados pessoais,165.0,4,660.0,PIX,1380,Não,50,9

#### Analisando vendas em uma rede de lojas

Você está analisando dados de vendas em uma rede de lojas de departamentos e foi encarregado(a) de responder a algumas perguntas de negócio críticas para o planejamento estratégico da empresa. A primeira questão essencial é entender o desempenho das três unidades da rede, especificamente no que se refere ao valor total de vendas para o período.

O objetivo é obter a soma do valor total das vendas por unidade para identificar qual está performando melhor em termos de geração de receita. Essa análise ajudará a liderança a tomar decisões informadas sobre possíveis investimentos, promoções e realocação de recursos.

Os dados estão disponíveis na seguinte url:

```'https://raw.githubusercontent.com/alura-cursos/python_dados/refs/heads/main/Dados/loja_vendas.csv'```


Sua missão nesta atividade é carregar os dados de vendas, examinar as informações disponíveis, e aplicar o método groupby() para agrupar e sumarizar o valor total de vendas por unidade.

In [3]:
# Agrupa valores por unidade, pega a coluna 'valor_total', aplica uma soma e então ordena os valores por order crescente.

df.groupby('unidade', as_index=False)['valor_total'].sum().sort_values(by='valor_total', ascending=False)

             unidade  valor_total
0       Oswaldo Cruz    5811213.0
1  Parque das nações    5443778.1
2          Paulicéia    4988462.9