Márcia recebeu dois conjuntos de dados em formato JSON. O primeiro conjunto contém informações referentes à primeira semana do mês na loja onde trabalha, e o segundo conjunto refere-se à segunda semana.

Márcia deseja saber a forma mais eficiente de carregar esses dados no Python para manipulá-los como DataFrames. Analise os conjuntos e indique a melhor abordagem para resolver o problema.

In [2]:
import pandas as pd
import requests

from http import HTTPStatus

### Primeiro conjunto de dados

In [3]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_2_1.json')

if r.status_code == HTTPStatus.OK:

  df_1 = pd.DataFrame(r.json())

df_1

,id_pedido,id_cliente,nome_cliente,id_produto,nome_produto,categorias,quantidade,preco_unitario,preco_total,data_pedido,status
0,10,110,João Vieira,210,Smartphone,"[Eletrônicos, Comunicação, Tecnologia]",1,2500.0,2500.0,2025-01-10,Pendente
1,11,111,Karen Martins,211,Mouse Gamer,"[Eletrônicos, Acessórios, Games]",1,150.0,150.0,2025-01-11,Entregue
2,12,112,Lucas Mendes,212,Bicicleta,"[Esportes, Lazer, Transporte]",1,1200.0,1200.0,2025-01-12,Cancelado
3,13,113,Mariana Lopes,213,Óculos de Sol,"[Acessórios, Moda, Proteção]",1,300.0,300.0,2025-01-13,Entregue
4,14,114,Natan Santos,214,Tablet,"[Eletrônicos, Tecnologia, Educação]",1,1500.0,1500.0,2025-01-14,Pendente

### Segundo conjunto de dados

In [6]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_2_2.json')

if r.status_code == HTTPStatus.OK:

  df_2 = pd.DataFrame(r.json())

df_2

,id_pedido,id_cliente,nome_cliente,id_produto,nome_produto,categoria,quantidade,preco_unitario,preco_total,data_pedido,status,endereco
0,5,105,Eduarda Costa,205,Mochila Escolar,Acessórios,1,180.0,180.0,2025-01-05,Entregue,"{Rua das Flores, 120, Centro, São Paulo, SP, 0..."
1,6,106,Fernando Lima,206,Notebook,Eletrônicos,1,3000.0,3000.0,2025-01-06,Pendente,"{Avenida Paulista, 1578, Bela Vista, São Paulo..."
2,7,107,Gabriela Souza,207,Fone de Ouvido,Eletrônicos,1,250.0,250.0,2025-01-07,Entregue,"{Rua do Comércio, 45, Centro, Rio de Janeiro, ..."
3,8,108,Hugo Almeida,208,Jaqueta de Couro,Roupas,1,350.0,350.0,2025-01-08,Entregue,"{Rua das Palmeiras, 234, Botafogo, Rio de Jane..."
4,9,109,Isabela Nunes,209,Caderno Universitário,Papelaria,5,20.0,100.0,2025-01-09,Entregue,"{Rua da Paz, 789, Centro, Curitiba, PR, 80010-..."