Juan recebeu um conjunto de dados em formato JSON e precisa normalizá-lo para acessar as informações de maneira estruturada. No entanto, ao utilizar json_normalize, ele identificou que o arquivo continha duas listas:

Como Juan pode estruturar esses dados em um único DataFrame?

In [1]:
import pandas as pd
import requests
from http import HTTPStatus

In [15]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_7.json')

if r.status_code == HTTPStatus.OK:
    data = r.json()
    df_lojas_sudeste = pd.json_normalize(data, record_path=['lojas_sudeste'])
    df_lojas_sul = pd.json_normalize(data, record_path=['lojas_sul'])

    df = pd.concat([df_lojas_sudeste, df_lojas_sul], ignore_index=True)

df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,1,Loja Alpha,São Paulo,SP,Eletrônicos,150,45000.0
1,2,Loja Beta,Rio de Janeiro,RJ,Roupas,200,60000.0
2,3,Loja Gamma,Belo Horizonte,MG,Calçados,120,36000.0
3,4,Loja Delta,Curitiba,PR,Acessórios,80,24000.0