Cristina recebeu um arquivo JSON com dados importantes para sua avaliação de lojas. Contudo, ao aplicar a função json_normalize, o resultado obtido não foi um DataFrame normalizado e organizado como esperado:

Ajude Cristina a criar um DataFrame que permita a manipulação adequada de todos os dados.

In [1]:
import pandas as pd
import requests
from http import HTTPStatus

In [4]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_6.json')

if r.status_code == HTTPStatus.OK:
    data = r.json()
    df = pd.json_normalize(data, record_path=['lista_lojas'])
df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,5,Loja Épsilon,Salvador,BA,Livros,300,75000.0
1,6,Loja Zeta,Fortaleza,CE,Eletrônicos,100,50000.0
2,7,Loja Eta,Porto Alegre,RS,Roupas,250,87500.0
3,8,Loja Theta,Manaus,AM,Calçados,70,21000.0