Após aplicar a normalização em uma lista presente no banco de dados, Diego percebeu que algumas colunas estavam ausentes no DataFrame resultante, embora estivessem nos dados originais. Ele sabe que o conjunto de dados deveria conter as seguintes colunas:


['cidade', 'estado', 'categoria', 'vendas_mensais', 'faturamento_mensal', 'id_loja', 'nome_loja']


No entanto, após aplicar a função json_normalize, as colunas 'id_loja' e 'nome_loja' não foram incluídas no DataFrame.

In [1]:
from http import HTTPStatus

import requests

import pandas as pd

In [5]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_9.json')

if r.status_code == HTTPStatus.OK:
    data = r.json()
    df = pd.json_normalize(data, record_path=['vendas'], meta=['id_loja', 'nome_loja'])
df

,cidade,estado,categoria,vendas_mensais,faturamento_mensal,id_loja,nome_loja
0,Natal,RN,Calçados,140,42000.0,13,Loja Nu
1,Goiânia,GO,Acessórios,75,22500.0,14,Loja Xi
2,São Luís,MA,Livros,210,63000.0,15,Loja Omicron
3,Maceió,AL,Eletrônicos,50,25000.0,16,Loja Pi