Paula está trabalhando com um conjunto de dados que contém duas listas aninhadas dentro de uma chave chamada lojas. Devido a essa estrutura, ela está enfrentando dificuldades para transformar o documento em um DataFrame manipulável.

Ajude Paula a estruturar os dados em um DataFrame adequado para análise.

In [16]:
import pandas as pd
import requests
from http import HTTPStatus

In [19]:
r = requests.get('https://cdn3.gnarususercontent.com.br/4416-python-normalizando-arquivos-json/Projeto/Arquivos%20de%20atividades/questao_8.json')

if r.status_code == HTTPStatus.OK:
    data = r.json()
    df_lojas_nordeste = pd.json_normalize(data, record_path=['lojas', 'lojas_nordeste'])
    df_lojas_norte = pd.json_normalize(data, record_path=['lojas', 'lojas_norte'])

    df = pd.concat([df_lojas_nordeste, df_lojas_norte])
df

,id_loja,nome_loja,cidade,estado,categoria,vendas_mensais,faturamento_mensal
0,9,Loja Iota,Recife,PE,Acessórios,95,28500.0
1,10,Loja Kappa,Fortaleza,CE,Livros,180,54000.0
0,11,Loja Lambda,Manaus,AM,Eletrônicos,220,110000.0
1,12,Loja Mu,Belém,PA,Roupas,160,48000.0