# Exploração inicial: Ver as colunas do dataset

In [3]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/Praticando-dados-estruturas-operacoes/refs/heads/main/superstore.csv', encoding='ISO-8859-1')

# Exibir as primeiras linhas do dataset para inspecionar
df.head()

,Linha ID,Ordem ID,Data Ordem,Data Envio,Modo Envio,Cliente ID,Nome Cliente,Segmento,PaÃ­s,Cidade,...,Codigo Postal,Regiao,Produto ID,Categoria,Sub-Categoria,Nome Produto,Vendas,Quantidade,Desconto,Lucro
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# Exibir as colunas do dataset
df.columns

Index(['Linha ID', 'Ordem ID', 'Data Ordem', 'Data Envio', 'Modo Envio',
       'Cliente ID', 'Nome Cliente', 'Segmento', 'PaÃ­s', 'Cidade', 'Estado',
       'Codigo Postal', 'Regiao', 'Produto ID', 'Categoria', 'Sub-Categoria',
       'Nome Produto', 'Vendas', 'Quantidade', 'Desconto', 'Lucro'],
      dtype='object')

# Estatísticas descritivas

In [5]:
df.describe()

,Linha ID,Codigo Postal,Vendas,Quantidade,Desconto,Lucro
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

> Dica do Allan: O método `describe` é usado para gerar estatísticas descritivas de um DataFrame ou de uma Série. Ele fornece um resumo estatístico útil das colunas numéricas ou categóricas, dependendo do contexto.

#### O que ele retorna para colunas **numéricas**:
- **count**: Quantidade de valores não nulos.
- **mean**: Média dos valores.
- **std**: Desvio padrão.
- **min**: Valor mínimo.
- **25%**: Primeiro quartil (25% dos dados abaixo deste valor).
- **50%**: Mediana (50% dos dados abaixo deste valor).
- **75%**: Terceiro quartil (75% dos dados abaixo deste valor).
- **max**: Valor máximo.



O método `describe` é excelente para obter uma visão geral rápida de seus dados e identificar tendências ou possíveis problemas (como valores ausentes ou outliers).

# Operações nos DataFrames

In [6]:
# Dividir o DataFrame em dois subconjuntos por região
df_west = df[df['Regiao'] == 'West']
df_south = df[df['Regiao'] == 'South']

In [7]:
# Somar as vendas ('Vendas') por região
sales_west = df_west['Vendas'].sum()
sales_south = df_south['Vendas'].sum()

In [8]:
sales_west

np.float64(725457.8245)

In [9]:
sales_south

np.float64(391721.905)

# Operações condicionais para criar colunas derivadas

In [10]:
# Criar uma coluna indicando se houve desconto
df['Desconto_Aplicado'] = df['Desconto'] > 0

# Exibir as primeiras linhas com a nova coluna
print("\nNova coluna 'Desconto_aplicado':")
df[['Desconto', 'Desconto_Aplicado']].head()

Nova coluna 'Desconto_aplicado':

   Desconto  Desconto_Aplicado
0      0.00              False
1      0.00              False
2      0.00              False
3      0.45               True
4      0.20               True

# Criação de novas colunas

In [11]:
# Criar uma nova coluna de "Lucro por Unidade" (Lucro / Quantidade)
df['Lucro por Unidade'] = df['Lucro'] / df['Quantidade']

In [12]:
df[['Lucro', 'Quantidade', 'Lucro por Unidade']].head()

      Lucro  Quantidade  Lucro por Unidade
0   41.9136           2            20.9568
1  219.5820           3            73.1940
2    6.8714           2             3.4357
3 -383.0310           5           -76.6062
4    2.5164           2             1.2582

# Funções customizadas com .apply()

> Dica do Allan: O método `apply` do pandas é uma ferramenta poderosa para aplicar funções personalizadas a colunas ou linhas de um DataFrame. Ele é especialmente útil quando você precisa realizar transformações ou cálculos que não estão disponíveis diretamente nos métodos nativos da biblioteca. Por exemplo, você pode usar `apply` para aplicar uma função lambda a cada elemento de uma coluna específica, como calcular a raiz quadrada de valores numéricos ou formatar strings. Para aplicá-lo em colunas, utilize o parâmetro `axis=0` (comportamento padrão), e para linhas, defina `axis=1`. Apesar de sua flexibilidade, é importante usá-lo com cautela em grandes conjuntos de dados, pois pode ser mais lento em comparação com métodos vetorizados do pandas, que são otimizados para desempenho.

In [13]:
df['Lucro']

0        41.9136
1       219.5820
2         6.8714
3      -383.0310
4         2.5164
          ...
9989      4.1028
9990     15.6332
9991     19.3932
9992     13.3200
9993     72.9480
Name: Lucro, Length: 9994, dtype: float64

In [14]:
# Criar uma função para categorizar o lucro
def categoriza_lucro(lucro):
    if lucro > 50:
        return 'Alta margem'
    elif lucro > 0:
        return 'Margem positiva'
    else:
        return 'Prejuízo'

# Aplicar a função
df['Categoria_Lucro'] = df['Lucro'].apply(categoriza_lucro)

# Exibir as primeiras linhas com a nova coluna
df[['Lucro', 'Categoria_Lucro']].head()

      Lucro  Categoria_Lucro
0   41.9136  Margem positiva
1  219.5820      Alta margem
2    6.8714  Margem positiva
3 -383.0310         Prejuízo
4    2.5164  Margem positiva

# Função lambda

In [15]:
#Calculando a margem de lucro como porcentagem.
df['Margem Lucro (%)'] = df.apply(lambda x: (x['Lucro'] / x['Vendas']) * 100, axis=1)
df['Margem Lucro (%)']

0       16.00
1       30.00
2       47.00
3      -40.00
4       11.25
        ...
9989    16.25
9990    17.00
9991     7.50
9992    45.00
9993    30.00
Name: Margem Lucro (%), Length: 9994, dtype: float64

In [16]:
df['Nivel Vendas'] = df['Vendas'].apply(lambda x: 'Alta' if x > 500 else 'Baixa')
df['Nivel Vendas']

0       Baixa
1        Alta
2       Baixa
3        Alta
4       Baixa
        ...
9989    Baixa
9990    Baixa
9991    Baixa
9992    Baixa
9993    Baixa
Name: Nivel Vendas, Length: 9994, dtype: object

In [17]:
df['Desconto Elevado'] = df['Desconto'].apply(lambda x: True if x > 0.2 else False)
df['Desconto Elevado']

0       False
1       False
2       False
3        True
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Name: Desconto Elevado, Length: 9994, dtype: bool