#### https://www.w3resource.com/python-exercises/pandas/index-data-series.php

#### 1. Creating a Series

Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [20]:
import pandas as pd
import numpy as np

In [21]:
r = np.arange(0, 11, 1)

s = pd.Series(r, name="Numbers")

s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: Numbers, dtype: int64

#### 2. Series to List Conversion

Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [22]:
r = np.random.rand(10)

s = pd.Series(r, name='Numbers')

to_list = s.tolist()

to_list, type(to_list)

([0.0028218717594610254,
  0.46587749077069907,
  0.5065052116345365,
  0.3872135264033447,
  0.8121645894670301,
  0.638162432512655,
  0.4486948680351248,
  0.2544390971398982,
  0.8292793423528484,
  0.5005503170112936],
 list)

#### 3. Series Arithmetic

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [23]:
s1 = [2, 4, 6, 8, 10]
s2 = [1, 3, 5, 7, 9]

r = pd.Series(s1, name='Series 1')
s = pd.Series(s2, name='Series 2')

sum_series = r + s
subtract_series = r - s
multiply_series = r * s
divide_series = r / s

print("Sum Series:")
print(sum_series)

print("\nSubtract Series:")
print(subtract_series)

print("\nMultiply Series:")
print(multiply_series)

print("\nDivide Series:")
print(divide_series)

Sum Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtract Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiply Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Divide Series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

  #### 4. Series Comparison

  Write a Pandas program to compare the elements of the two Pandas Series.

In [24]:
s = [2, 4, 6, 8, 10]
r = [1, 3, 5, 7, 10]

s1 = pd.Series(s, name='Series 1')
s2 = pd.Series(r, name='Series 2')


print('Comparação de Séries:', s1 == s2)

s1.compare(s2)

Comparação de Séries: 0    False
1    False
2    False
3    False
4     True
dtype: bool

   self  other
0   2.0    1.0
1   4.0    3.0
2   6.0    5.0
3   8.0    7.0

#### 5. Dict to Series

Write a Pandas program to convert a dictionary to a Pandas series.

In [25]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

pd.Series(d, name='Series Dict')

a    100
b    200
c    300
d    400
e    800
Name: Series Dict, dtype: int64

#### 6. Array to Series

Write a Pandas program to convert a NumPy array to a Pandas series.

In [26]:
a = np.random.randint(1, 100, 10)

s = pd.Series(a, name='Random Numbers')

s

0    89
1    46
2    13
3     4
4    67
5    60
6    35
7     2
8    47
9    73
Name: Random Numbers, dtype: int64

#### 7. Change Series DataType

Write a Pandas program to change the data type of given a column or a Series.

In [27]:
original = ['100', '200', 'python', '300.11', '400']

s = pd.Series(original, name='Original Series')

s = pd.to_numeric(s, errors='coerce')
s

0    100.00
1    200.00
2       NaN
3    300.11
4    400.00
Name: Original Series, dtype: float64

#### 8. DF Column to Series

Write a Pandas program to convert the first column of a DataFrame as a Series.

In [28]:
df = pd.DataFrame({
  'col-1': [1, 2, 3, 4, 7, 11],
  'col-2': [4, 5, 6, 9, 5, 0],
  'col-3': [7,5,8, 12, 1, 11],
})


pd.Series(df['col-1'], name='Col-1')

0     1
1     2
2     3
3     4
4     7
5    11
Name: Col-1, dtype: int64

#### 9. Series to Array

Write a Pandas program to convert a given Series to an array.

In [29]:
a = [100, 200, 'python', 300.11, 400]

s = pd.Series(a, name='Original Series')

s.values, type(s.values)

(array([100, 200, 'python', 300.11, 400], dtype=object), numpy.ndarray)

#### 10. Flatten Series of Lists

Write a Pandas program to convert Series of lists to one Series.

In [30]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

s = s.apply(pd.Series).stack().reset_index(drop=True)

s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

#### 11. Sort Series

Write a Pandas program to sort a given Series.

In [31]:
a = [100, 200, 'python', 300.11, 400]

s = pd.Series(a, name='Original Series')
s = pd.to_numeric(s, errors='coerce')
s.fillna(0, inplace=True)

s.sort_values(ascending=True, inplace=True)

s

2      0.00
0    100.00
1    200.00
3    300.11
4    400.00
Name: Original Series, dtype: float64

#### 12. Append Data to Series

Write a Pandas program to add some data to an existing Series.

In [32]:
a = [100, 200, 'python', 300.11, 400]
b = [500, 'php']

s = pd.Series(a, name='Append Data to Series', index=['a', 'b', 'c', 'd', 'e'])

s['f'] = b[0]
s['h'] = b[1] 

s, s.shape

(a       100
 b       200
 c    python
 d    300.11
 e       400
 f       500
 h       php
 Name: Append Data to Series, dtype: object,
 (7,))


#### 13. Subset Series

Write a Pandas program to create a subset of a given series based on value and condition.

In [33]:
a = np.arange(0, 11, 1)

s = pd.Series(a, name='Series')

s = s[:6]
v = s[s < 6]

v, s

(0    0
 1    1
 2    2
 3    3
 4    4
 5    5
 Name: Series, dtype: int64,
 0    0
 1    1
 2    2
 3    3
 4    4
 5    5
 Name: Series, dtype: int64)

#### 14. Reorder Series Index

Write a Pandas program to change the order of index of a given series.

In [36]:
s = np.arange(1, 6, 1)
idx = ['A', 'B', 'C', 'D','E']
new_idx = ['B','A','C','D','E']

s = pd.Series(s, index=idx, name='0 a 6 Series')

s = s.reindex(index=new_idx)
s

B    2
A    1
C    3
D    4
E    5
Name: 0 a 6 Series, dtype: int64

#### 15. Series Stats

Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [50]:
s = np.array([1,2,3,4,5,6,7,8,9,5,3])

ss = pd.Series(s, name='Series')

describe = ss.describe()

describe['mean'], describe.std()

(np.float64(4.818181818181818), 3.3681633912543947)

#### 16. Series Difference

Write a Pandas program to get the items of a given series not present in another given series.

In [58]:
sr1 = np.arange(0, 6, 1)
sr2 = np.arange(2, 12, 2)

s = pd.Series(sr1, name='SR1 Series')
c = pd.Series(sr2, name='SR2 Series')

s[~s.isin(c)]

0    0
1    1
3    3
5    5
Name: SR1 Series, dtype: int64

#### 17. Non-common Series Items

Write a Pandas program to get the items which are not common of two given series.

In [59]:
sr1 = np.arange(0, 6, 1)
sr2 = np.arange(2, 12, 2)


s = pd.Series(sr1, name='SR 1')
c = pd.Series(sr2, name='SR 2')

sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]

result

0     0
1     1
3     3
5     5
6     6
7     8
8    10
dtype: int64

#### 18. Five-Number Summary

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [67]:
a = np.random.rand(19)

p = pd.Series(a, name='Rand')

describe = p.describe()
describe

f'{describe['min'], describe['25%'], describe['mean'], describe['75%'], describe['max']}'

'(np.float64(0.11145441037877646), np.float64(0.30241939541975565), np.float64(0.5889418871961005), np.float64(0.9217985621928444), np.float64(0.9912084472376833))'