Verônica está avaliando um conjunto de dados relacionados ao cadastro de eventos que terão a cobertura da empresa em que ela trabalha. Ao observar o conjunto ela percebeu que algumas linhas das colunas 'Data' e 'Local' estavam sem informações.


Para o planejamento da cobertura dos eventos, é essencial que as informações de 'Data' e 'Local' estejam preenchidas, pois são fundamentais para identificar quando e onde o evento ocorrerá. Outras colunas podem ser opcionais.

Para que Verônica consiga avaliar adequadamente o conjunto de dados e planejar a cobertura, ela precisa ter apenas os eventos com informações completas em 'Data' e 'Local'. Como ela pode fazer isso?

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../../../../data/activities_8.csv')

df

   ID_Evento          Nome_Evento        Data           Local  Participantes
0          1         Show de Rock  2025-02-01       São Paulo          500.0
1          2  Feira de Tecnologia         NaN             NaN         2000.0
2          3                  NaN  2025-02-10  Rio de Janeiro            NaN
3          4             Maratona         NaN             NaN          300.0
4          5            Seminário  2025-03-05  Belo Horizonte            NaN
5          6                  NaN  2025-03-15        Curitiba          150.0

In [ ]:
# Removendo linhas que contêm valores nulos nas colunas 'Data' e 'Local'
# subset=['Data', 'Local'] especifica as colunas que devem ser consideradas
# inplace=True significa que a modificação será feita diretamente no DataFrame original
df.dropna(subset=['Data', 'Local'], inplace=True)

In [ ]:
df

   ID_Evento   Nome_Evento        Data           Local  Participantes
0          1  Show de Rock  2025-02-01       São Paulo          500.0
2          3           NaN  2025-02-10  Rio de Janeiro            NaN
4          5     Seminário  2025-03-05  Belo Horizonte            NaN
5          6           NaN  2025-03-15        Curitiba          150.0