Letícia está estudando dados relacionados ao desempenho dos estudantes na plataforma de cursos em que ela trabalha. Observando os dados, ela notou que algumas linhas estavam completamente preenchidas com valores ausentes.

Letícia entende que os dados vazios que não preenchem todas as colunas não geram problema em seu estudo, apenas aquelas linhas que estão completamente ausentes. Como Letícia poderia remover somente as linhas que têm dados inteiramente nulos?

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../../../../data/activities_9.csv')

df

,ID_Aluno,Nome,Curso,Horas_Estudo,Nota_Final,Status,Avaliação_Aluno,Data_Conclusão
0,1.0,Pedro Souza,Python para Iniciantes,10.0,8.5,Aprovado,5.0,2025-01-01
1,2.0,Ana Lima,Data Science Avançado,15.0,9.0,Aprovado,4.0,2025-01-02
2,3.0,João Santos,Machine Learning,20.0,9.5,Aprovado,5.0,2025-01-03
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Lucas Pereira,Visualização de Dados,12.0,8.0,Aprovado,4.0,2025-01-05
5,6.0,Fernanda Silva,Estatística Aplicada,18.0,9.2,Aprovado,5.0,2025-01-06
6,7.0,Carla Ribeiro,Análise de Sentimentos,22.0,9.8,Aprovado,5.0,2025-01-07
7,8.0,Paulo Almeida,Deep Learning,30.0,10.0,Aprovado,5.0,2025-01-08
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,Rafael Mendes,Big Data,16.0,8.8,Aprovado,4.0,2025-01-10

In [6]:
# Remove linhas onde todos os valores são NaN no próprio DataFrame
df.dropna(how='all', inplace=True)

df

,ID_Aluno,Nome,Curso,Horas_Estudo,Nota_Final,Status,Avaliação_Aluno,Data_Conclusão
0,1.0,Pedro Souza,Python para Iniciantes,10.0,8.5,Aprovado,5.0,2025-01-01
1,2.0,Ana Lima,Data Science Avançado,15.0,9.0,Aprovado,4.0,2025-01-02
2,3.0,João Santos,Machine Learning,20.0,9.5,Aprovado,5.0,2025-01-03
4,5.0,Lucas Pereira,Visualização de Dados,12.0,8.0,Aprovado,4.0,2025-01-05
5,6.0,Fernanda Silva,Estatística Aplicada,18.0,9.2,Aprovado,5.0,2025-01-06
6,7.0,Carla Ribeiro,Análise de Sentimentos,22.0,9.8,Aprovado,5.0,2025-01-07
7,8.0,Paulo Almeida,Deep Learning,30.0,10.0,Aprovado,5.0,2025-01-08
9,10.0,Rafael Mendes,Big Data,16.0,8.8,Aprovado,4.0,2025-01-10